
body {
    background-color: rgb(151, 172, 199);
}

p {
    color: black;
    font-size: 18px;
}

h1 {
    border-style: solid;
    border-width: 5px;
    border-color: green;
    margin-right: 800px;
    background-color: white;
}

/*id selector */
#myList{
    border-style:solid;
    border-width: 3px;
    border-color: #000;
}